<div class="games">
  <div class="game" *ngFor="let game of games">
    <div class="game-thumb-container">
      <img
        src="{{ game.background_image }}"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">{{ game.name }}</p>
      <div class="game-platforms">
        <img
          *ngFor="let gamePlatform of game.parent_platforms"
          class="game-platform"
          src="assets/images/platforms/{{ gamePlatform.platform.slug }}.svg"
          alt="{{ gamePlatform.platform.slug }}"
        />
      </div>
    </div>
  </div>
</div>
