/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #151515;
}

body * {
  font-family: "Source Sans Pro", sans-serif;
}
