* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #151515;
}

body * {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
